.verify-email-container {
    margin-top: 30px;

    .text-notify {
        font-size: 18px;
        font-weight: 600;
        text-transform: uppercase;
        color: red;
        text-align: center;
    }
}